
.game-details {
    margin-top: 60px;
    .container {
      .game__details__content {
        margin-bottom: 65px;
        .row {
            .game__details__pic {
                height: auto;
                border-radius: 10px;
                img {
                  width: 240px;
                  border-radius: 5px;
                  height: 320px;
                  object-fit: fill;
                }
            }
            .game__details__text {
              .game__details__title {
                h1 {
                    color: #ffffff;
                    font-weight: 700;
                    margin-bottom: 13px;
                    font-size: 30px;
                }
              }
              p {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                color: #b7b7b7;
                font-size: 18px;
                line-height: 30px;
              }
  
              .game__details__widget {
                margin-bottom: 15px;
                .row {
                    ul {     
                      li {
                        list-style-type: none;
                        font-size: 15px;
                        color: #ffffff;
                        line-height: 30px;
                        position: relative;
                        padding-left: 18px;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        ::before{
                            position: absolute;
                            left: 0;
                            top: 12px;
                            height: 6px;
                            width: 6px;
                            background: #b7b7b7;
                            content: "";
                        }
                        span {
                            color: #b7b7b7;
                            width: 115px;
                            display: inline-block
                        }
                        a{
                          font-size: 15px;
                          color: #ffffff;
                         &:hover{
                          color: #e53637;
                         }
                        }
                      }
                    }                 
                }
              }

              .game__details__btn {
                .buy-btn {
                  span{
                    font-size: 13px;
                    color: #ffffff;
                    background: #e53637;
                    display: inline-block;
                    font-weight: 700;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    padding: 14px 20px;
                    border-radius: 4px 0 0 4px;
                    margin-right: 1px;
                  }
                  i{
                    font-size: 20px;
                    display: inline-block;
                    background: #e53637;
                    padding: 11px 5px 16px 8px;
                    color: #ffffff;
                    border-radius: 0 4px 4px 0;
                  }
                }
                
              }
            }
          
        }
      }
      .row {
        .product_detail {
          .section-title {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin-bottom: 30px;
            h4{
                color: #ffffff;
                font-weight: 600;
                line-height: 21px;
                text-transform: uppercase;
                padding-left: 20px;
                position: relative;
                font-family: "Oswald", sans-serif;
                font-size: 20px;
              &::after{
                position: absolute;
                left: 0;
                top: -6px;
                height: 32px;
                width: 4px;
                background-color: #e53637;
                content: "";
                }
              }
          }
          .product-content {
            p{
              font-family: "Mulish", sans-serif;
              color: #fff;
              font-size: 17px;
              line-height: 30px;
            }
          }
          .guide-install {
            // Styles for the guide-install section
          }
          .comment {
            // Styles for the comment section
          }
        }
      }

      .col-lg-4.col-md-4 {
        .trending__product {
          .row { 
              .section-title {
                h4 {
                  color: #ffffff;
                  font-weight: 600;
                  line-height: 21px;
                  text-transform: uppercase;
                  padding-left: 20px;
                  position: relative;
                  font-family: "Oswald", sans-serif;
                  font-size: 23px;
                  &::after{
                    position: absolute;
                    left: 0;
                    top: -6px;
                    height: 32px;
                    width: 4px;
                    background-color: #e53637;
                    content: "";
                    }
                }
              }
              .btn__all {
                .primary-btn {
                  display: inline-block;
                  font-size: 13px;
                  font-weight: 700;
                  text-transform: uppercase;
                  color: #ffffff;
                  letter-spacing: 2px;
                }
              }
            
          }
          .row{
            .new-game{
              .game-view{
                height: 190px;
                position: relative;
                border-radius: 5px;
                margin-bottom: 30px;
              h5{
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                padding: 0 30px 0 20px;
                a{
                  color: #ffffff;
                  font-weight: 700;
                  line-height: 26px;
                }
              }
              }
            }
          }
        }
      
    }
    }
  }
  